@use "../util/" as *;

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-fraunces);
}

h1,
h4 {
  letter-spacing: rem(6);
}

h2 {
  font-size: rem(32);
  font-weight: 800;
  @include breakpoint(large) {
    font-size: rem(40);
  }
}

h3 {
  font-size: rem(26);
  font-weight: 800;
}

h4 {
  font-size: rem(14);
}

p,
a {
  font-family: var(--font-barlow);
}

p {
  line-height: rem(26);
}
