@use "../../sass/globals/" as *;
@use "../../sass/util/" as *;

.testimonial {
  display: grid;
  align-items: center;
  margin: 0 rem(50);
  &__image {
    border-radius: 50%;
    margin: 0 auto;
    width: rem(60);
  }
  &__text,
  &__name,
  &__position {
    text-align: center;
  }
  &__text {
    font-size: rem(16);
    margin: rem(24) auto;
  }
  &__name,
  &__position {
    margin: 0 auto;
  }
  &__name {
    font-family: var(--font-fraunces);
    font-weight: 800;
  }
  &__position {
    color: var(--grayish-blue);
    font-size: rem(13);
  }
}
