@use "../../sass/globals/" as *;
@use "../../sass/util/" as *;

.testimonials {
  background-color: var(--white);
  display: grid;
  grid-template-rows: auto repeat(3, rem(320)) rem(40);
  align-items: center;
  justify-items: center;
  @include breakpoint(medium) {
    grid-template-rows: auto rem(300) rem(100);
  }
  &__header {
    color: var(--grayish-blue);
    margin: rem(60) auto rem(30);
    text-align: center;
    text-transform: uppercase;
    @include breakpoint(medium) {
      margin: rem(120) auto rem(60);
    }
  }
  &__container {
    @include breakpoint(medium) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
